
!./GE/bin/Debug
!./GE/External/vld

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll



# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vcxproj
*.vcxproj.filters
*.vcxproj.user

.vs
*.sln
build
obj
bin

./GE/bin/Debug/GE.exe
./GE/bin/Debug/GE.pdb
